a{color:#333;text-decoration:none;}
a:visited{color:#333;}
a:hover{color:#cc0000;}
a:focus{outline:none;}

.catee-header, .catee-banner, .catee-txt-img, .catee-focus-pic, .catee-ti-list, .catee-sina-footer{ width: 1000px; margin: 0 auto; }
.catee-banner{ margin-top: 20px; }
.catee-header-wrap{ background-color: #f7f7f7; border-top: solid 3px #cc0000; }
.catee-header{ background-color: #f7f7f7; height: 47px; }
.catee-logo{ float: left; width: 136px; height: 36px; margin-top: 6px; }
.catee-logo a{ display: block; width: 136px; height: 36px; background: url(../img/logo01.png) no-repeat 0 0; }
.catee-links{ float: right; height: 47px; }
.catee-links a{ line-height: 47px; }
.catee-banner{ height: 200px; overflow: hidden; }
.catee-banner img{ width: 1000px; margin-top: -300px; }

.catee-txt-img{ margin-top: 20px; }
.catee-ti-title { height: 40px; margin-bottom: 15px; }
.catee-ti-title h2{ font-size: 20px; padding-left: 15px; border-left: solid 4px #cc0000; line-height: 36px; }
.catee-ti-img a{ display: block; overflow: hidden; position: relative; }
.catee-ti-img a:after{ background-color: #fff; position: absolute; left: 0; content: ''; }
.catee-ti-img a span{ text-align: center; display: block; background-color: #fff; }
.catee-tilb-img a img, .catee-ti-img a img{
  -webkit-transition: -webkit-transform .3s ease-in-out;
  -moz-transition: -moz-transform .3s ease-in-out;
  -ms-transition: -ms-transform .3s ease-in-out;
  -o-transition: -o-transform .3s ease-in-out;
  transition: transform .3s ease-in-out; 
}
.catee-tilb-img a img:hover, .catee-ti-img a:hover img{
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); 
}
.catee-hi a{ width: 400px; }
.catee-hi a:after{ width: 400px; top: 300px; height: 15px; }
.catee-hi a span{ width: 400px; height: 40px; line-height: 50px; }
.catee-hi a img{ width: 400px; height: 300px; }
.catee-vi a{ width: 280px; }
.catee-vi a:after{ width: 280px; top: 400px; height: 20px; }
.catee-vi a span{ width: 280px; height: 45px; line-height: 55px; }
.catee-vi a img{ width: 280px; height: 400px; }
.catee-fl{ float: left; margin-right: 15px; }
.catee-fr{ float: right; margin-left: 15px; }
.catee-ti-txt p{ line-height: 28px; margin-bottom: 15px; text-indent: 2em; }

.catee-focus-pic{ height: 400px; overflow: hidden; margin-top: 20px; position: relative; }
.catee-fp-item{ float: left; width: 1000px; height: 400px; position: relative; }
.catee-fpi-img{ float: left; }
.catee-fpi-img img{ width: 1000px; height: 400px; }
.catee-fpi-bg, .catee-fpi-txt{ position: absolute; top: 0; right: 0; }
.catee-fpi-bg{ background: url(../img/focusbg_demo.png); width: 500px; height: 400px; }
.catee-fpi-txt{ width: 270px; height: 350px; padding: 50px 30px 0 200px; }
.catee-fpi-title{ font-size: 28px;  }
.catee-fpi-title a{ color: #c00; }
.catee-fpi-txt p{ text-align: right; line-height: 28px; margin-top: 15px; }
#catee_fp_dots{ bottom: 0; right: 0; position: absolute; }
#catee_fp_dots .dotItem, #catee_fp_dots .dotItemOn{ width: 24px; height: 8px; float: left; }
#catee_fp_dots .dotItem{ background-color: #ccc; }
#catee_fp_dots .dotItemOn{ background-color: #c00; }

.catee-ti-list{ margin-top: 20px; }
.catee-til-blk{ float: left; width: 500px; overflow: hidden; }
.catee-tilb-img{ width: 240px; height: 140px; overflow: hidden; }
.catee-tilb-img img{ width: 240px; height: 140px; }
.catee-tilb-list{ overflow: hidden; }
.catee-tilb-list p{ line-height: 28px; }

.catee-sina-footer{width:100%;font-size:12px;text-align:center;border-top:2px solid #b2b2b2;padding:20px 0 40px 0;color:#959595;line-height:30px;margin-top: 60px; background-color: #f7f7f7; }
.catee-sina--footer p{width:1000px;margin:0 auto;}
